*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8B5A;
}
.container{
    border: 2px solid #FFAB73;
    margin-top: 140px;
    background-color:#EB5A3C;
    font-family: Arial,sans-serif;
    border-radius: 10px;
    color: #fff;
    width: 660px;
    min-height: 400px;
    box-shadow: 0 0 10px #FEC288;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
input{
    display: block;
    text-align: center;
    margin-top: 10px;
    width: 300px;
    height: 35px;
    margin-left: 160px;
    border-radius: 5px;
    border: 1px solid #FEC288;
}
#addBtn{
    text-align: center;
    margin-left: 270px;
    margin-top: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: #CF3030;
    color: #fff;
    font-size: 1rem;
}
button{
    border-radius: 5px;
    background-color: #CF3030;
    color: #fff;
    font-size: 1rem;
}
button:hover{
    background-color: #FF8B5A;
    transform: scale(1.05);
    cursor: pointer;
}
p{
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}
ul{
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
li{
    font-size: 15px;
    margin-left: 5px;
    color: bisque;
    margin-bottom: 15px;
    line-height: 1.5;
}
li button{
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 0;
    width: 70px;
    font-size: 14px;
    display: inline-block;
}